<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.model.afk.admin.vo.AdminMember" alias="aMember"/>
  		<typeAlias type="com.model.afk.guide.vo.GuideComment" alias="gCmt"/>
  		<typeAlias type="com.model.afk.guide.vo.GuideItem" alias="gItem"/>
  		<typeAlias type="com.model.afk.guide.vo.StarPoint" alias="sPoint"/>
  		<typeAlias type="com.model.afk.guide.vo.NotifyGItem" alias="notify"/>
  		<typeAlias type="com.model.afk.guide.vo.GuideFavorite" alias="favorite"/>
  		<typeAlias type="com.model.afk.infoboard.vo.InfoNotifyVO" alias="InfoNotifyVO"/>
  		
  		<!-- 얘는 지울것 -->
  		<typeAlias type="com.model.afk.guide.vo.Test" alias="Test"/>
  		
  		<typeAlias type="com.model.afk.infoboard.vo.InfoBoardVO" alias="InfoBoardVO"/>
  		<typeAlias type="com.model.afk.infoboard.vo.InfoCommentVO" alias="InfoCmtVO"/>
  		<typeAlias type="com.model.afk.infoboard.vo.InfoPointVO" alias="InfoPntVO"/>
  		<typeAlias type="com.model.afk.infoboard.vo.InfoReportVO" alias="InfoRptVO"/>
  		<typeAlias type="com.model.afk.matching.vo.Matching" alias="Matching"/>
  		<typeAlias type="com.model.afk.member.vo.Member" alias="Member"/>
  		<typeAlias type="com.model.afk.message.vo.MessageVO" alias="Message"/>
  		<!-- <typeAlias type="com.model.afk.mypage.vo.MypageVO" alias="Mypage"/> -->
  		<typeAlias type="com.model.afk.myplanner.vo.MyPlanner" alias="MyPlanner"/>
  		<typeAlias type="com.model.afk.notice.vo.Notice" alias="Notice"/>
  		<typeAlias type="com.model.afk.payment.vo.Payment" alias="Payment"/>
  		<typeAlias type="com.model.afk.reviewboard.vo.Review" alias="Review"/>
  		<typeAlias type="com.model.afk.location.vo.LocationCountry" alias="Country"/>
		<typeAlias type="com.model.afk.location.vo.LocationCity" alias="City"/>
  	</typeAliases>
  </configuration>