<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="AdminMemberMapper">
  	<resultMap id="memberResult" type="aMember">
		<id property="memberId" column="mb_id" />
		<result property="memberPwd" column="mb_pwd" />
		<result property="memberName" column="mb_name" />
		<result property="memberEmail" column="mb_email" />
		<result property="memberPhone" column="mb_phone" />
		<result property="memberJoinDate" column="mb_joindate" />
		<result property="memberOriginalPic" column="mb_original_pic" />
		<result property="memberRenamePic" column="mb_rename_pic" />
		<result property="memberBank" column="mb_bank" />
		<result property="memberLocPhone" column="mb_loc_phone" />
		<result property="memberAddress" column="mb_address" />
		<result property="memberGrade" column="mb_grade" />
		

	</resultMap>
	
	<resultMap id="memberGrade" type="aGrade">
		<id property="g_No" column="g_no" />
		<result property="g_Name" column="g_name" />
	</resultMap>
	
	<select id="memberAll" parameterType="List" resultMap="memberResult">
	select * from final.member
	</select>
	
	<delete id="deleteMember" parameterType="aMember">
		DELETE FROM 
		MEMBER WHERE MB_ID = #{memberId}
	</delete>
	
	<select id="gradeAll" parameterType="List" resultMap="memberGrade">
		select * from final.grade
	</select>
  </mapper>