<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="guideMapper">
 
 <resultMap id="gItemList" type="gItem">
 	<result property="gui_no" column="gui_no" />
 	<result property="gui_title" column="gui_title" />
 	<result property="gui_content" column="gui_content" />
 	<result property="gui_writer" column="gui_writer" />
 	<result property="gui_enrolldate" column="gui_enrolldate" />
 	<result property="gui_loc_l" column="gui_loc_l" />
 	<result property="gui_loc_m" column="gui_loc_m" />
 	<result property="gui_loc_s" column="gui_loc_s" />
 	<result property="gui_count" column="gui_count" />
 	<result property="gui_point" column="gui_point" />
 	<result property="gui_notify" column="gui_notify" />
 	<result property="gui_price" column="gui_price" />
 	<result property="gui_map" column="gui_map" />
 	<result property="gui_image" column="gui_image" />
 </resultMap>
 
 <resultMap id="guideItem" type="gItem">
 	<result property="gui_no" column="gui_no" />
 	<result property="gui_title" column="gui_title" />
 	<result property="gui_content" column="gui_content" />
 	<result property="gui_writer" column="gui_writer" />
 	<result property="gui_enrolldate" column="gui_enrolldate" />
 	<result property="gui_loc_l" column="gui_loc_l" />
 	<result property="gui_loc_m" column="gui_loc_m" />
 	<result property="gui_loc_s" column="gui_loc_s" />
 	<result property="gui_count" column="gui_count" />
 	<result property="gui_point" column="gui_point" />
 	<result property="gui_notify" column="gui_notify" />
 	<result property="gui_price" column="gui_price" />
 	<result property="gui_map" column="gui_map" />
 	<result property="gui_image" column="gui_image" />
 	<result property="area_name" column="area_name" />
 	<result property="country_name" column="country_name" />
 	<result property="city_name" column="city_name" />
 </resultMap>
 
 <select id="getGuideMain" parameterType="java.util.HashMap" resultMap="gItemList">
 	<![CDATA[
 		select x.gui_no, x.gui_title, x.gui_content, x.gui_writer, 
 			x.gui_enrolldate, x.gui_loc_l, x.gui_loc_m, x.gui_loc_s,
 			x.gui_count, x.gui_point, x.gui_notify, x.gui_price, x.gui_map, x.gui_image
		from(
		    select rownum as rnum, a.gui_no, a.gui_title, a.gui_content,
		    	a.gui_writer, a.gui_enrolldate, a.gui_loc_l, a.gui_loc_m,
		    	a.gui_loc_s, a.gui_count, a.gui_point, a.gui_notify, 
		    	a.gui_price, a.gui_map, a.gui_image	    	
		    from(
		        select *
		        from guide_board)a
		    where rownum <= #{end})x
		where x.rnum >= #{start}	
 	]]>
 </select>
 
 <select id="getAllItems" parameterType="map" resultMap="gItemList">
 	<![CDATA[
  		SELECT x.gui_no, x.gui_title, x.gui_content, x.gui_writer, 
 			x.gui_enrolldate, x.gui_loc_l, x.gui_loc_m, x.gui_loc_s,
 			x.gui_count, x.gui_point, x.gui_notify, x.gui_price, x.gui_map, x.gui_image
		FROM(
		    SELECT rownum as rnum, a.gui_no, a.gui_title, a.gui_content,
		    	a.gui_writer, a.gui_enrolldate, a.gui_loc_l, a.gui_loc_m,
		    	a.gui_loc_s, a.gui_count, a.gui_point, a.gui_notify, 
		    	a.gui_price, a.gui_map, a.gui_image	    	
		    FROM(
		        select *
		        from guide_board
		        where gui_writer = #{writer})a
		    WHERE rownum <= #{end})x
		WHERE x.rnum >= #{start}
 	]]>
 </select>
 
 <select id="getGuideInfo" parameterType="String" resultType="Member">
 	SELECT *
 	FROM member
 	WHERE mb_id = #{writer} 
 </select>
 
 <select id="getOneItem" parameterType="int" resultType="gItem">
 	SELECT * 
 	FROM GUIDE_BOARD
 	JOIN location_city on (gui_loc_s = city_no)
 	JOIN location_country using (country_no)
	JOIN location_area using (area_no)
  	WHERE gui_no = #{itemNo}
 </select>
 
 <update id="addCount" parameterType="int">
 	UPDATE guide_board 
 	SET gui_count = (SELECT gui_count 
 					FROM guide_board 
 					WHERE gui_no = #{itemNo}) + 1
 	WHERE gui_no = #{itemNo}
 </update>
 
 <update id="notifyItem" parameterType="int">
 	UPDATE guide_board
 	SET gui_notify = (SELECT gui_notify 
 					  FROM guide_board
 					  WHERE gui_no = #{itemNo}) + 1
 	WHERE gui_no = #{itemNo}
 </update>
 
 <insert id="insertItem" parameterType="gItem">
 	insert into guide_board
 	values(guide_board_seq.nextval, #{gui_title}, #{gui_content}, #{gui_writer}, sysdate, 
 			#{gui_loc_l}, #{gui_loc_m}, #{gui_loc_s},0, 0, 0, #{gui_price}, #{gui_map}, null, #{gui_date})
 </insert>
 
 
 
 <select id="test" resultType="Test" resultMap="testList">
 	select * 
 	from test
 </select>
 
 <select id="countBoard" resultType="Integer">
 	select count(*)
 	from test
 </select>
 
 <select id="paging" parameterType="java.util.HashMap" resultMap="testList">
 	<![CDATA[
 		select x.col, x.title
		from(
		    select rownum as rnum, a.col, a.title
		    from(
		        select *
		        from test)a
		    where rownum <= #{end})x
		where x.rnum >= #{start}	
 	]]>
 
 </select>
 
 
 
 <resultMap id="testList" type="Test">
 	<result property="col" column="col"/>
 	<result property="title" column="title"/>
 </resultMap>
 
</mapper> 