<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="guideCommentMapper">
 
 <resultMap id="gCmtList" type="gCmt">
 	<result property="cm_no" column="cm_no" />
 	<result property="cm_writer" column="cm_writer" />
 	<result property="cm_board_no" column="cm_board_no" />
 	<result property="cm_content" column="cm_content" />
 </resultMap>
 
 <select id="getAllComments" parameterType="map" resultMap="gCmtList">
 	 SELECT cm_no, cm_writer, cm_board_no, cm_content, mb_rename_pic
	 FROM guide_comment
	 JOIN member on (mb_id = cm_writer)
     WHERE cm_board_no = #{itemNo};
 </select>
 
 <select id="getCommentList" parameterType="int" resultMap="gCmtList">
 	SELECT *
 	FROM guide_comment
 	WHERE cm_board_no = #{itemNo}
 	ORDER BY cm_no desc
 </select>
 
 <insert id="insertComment" parameterType="map">
 	INSERT INTO guide_comment
 	VALUES (guide_comment_seq.nextval, #{writer}, #{itemNo}, #{content})
 </insert>
 
 <update id="updateComment" parameterType="map">
 	UPDATE guide_comment 
 	SET cm_content = #{content}
 	WHERE cm_no = #{cmNo}
 </update>
 
 <delete id="deleteComment" parameterType="int">
 	DELETE FROM guide_comment
 	WHERE cm_no = #{cmNo}
 </delete>
 
 </mapper>