<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="guideMapper">
 
 <resultMap id="testList" type="Test">
 	<result property="col" column="col"/>
 	<result property="title" column="title"/>
 </resultMap>
 
 <select id="getAllGuides" parameterType="int" resultType="java.util.List">
	SELECT * 
	FROM GUIDE_BOARD
 </select>
 
 <select id="test" resultType="Test" resultMap="testList">
 	select * 
 	from test
 </select>
 
 <select id="countBoard" resultType="Integer">
 	select count(*)
 	from test
 </select>
 
 <select id="paging" parameterType="java.util.HashMap" resultMap="testList">
 	<![CDATA[
 		select x.col, x.title
		from(
		    select rownum as rnum, a.col, a.title
		    from(
		        select *
		        from test)a
		    where rownum <= #{end})x
		where x.rnum >= #{start}	
 	]]>
 
 </select>
 
</mapper> 