<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="infoboard">

	<resultMap id="info" type="InfoBoardVO">
		<result property="info_no" column="info_no" />
		<result property="info_title" column="info_title" />
		<result property="info_content" column="info_content" />
		<result property="info_writer" column="info_writer" />
		<result property="info_enrolldate" column="info_enrolldate" />
		<result property="info_loc_l" column="info_loc_l" />
		<result property="info_loc_m" column="info_loc_m" />
		<result property="info_loc_s" column="info_loc_s" />
		<result property="info_count" column="info_count" />
		<result property="info_point" column="info_point" />
		<result property="info_notify" column="info_notify" />
		<result property="info_price" column="info_price" />
		<result property="info_map" column="info_map" />
	</resultMap>

	<select id="selectAll" parameterType="java.util.HashMap" resultMap="info">
		<![CDATA[
			select x.info_no, x.info_title, x.info_content, x.info_writer, x.info_enrolldate,
					x.info_loc_l, x.info_loc_m, x.info_loc_s, x.info_count, x.info_point, x.info_notify, x.info_price, x.info_map
			from(
				select rownum as rnum, a.info_no, a.info_title, a.info_content, a.info_writer, a.info_enrolldate,
					a.info_loc_l, a.info_loc_m, a.info_loc_s, a.info_count, a.info_point, a.info_notify, a.info_price, a.info_map
				from(
					select *
					from info_board)a
				where rownum <= #{end})x
			where x.rnum >= #{start}
			
		]]>
	</select>
	
	<select id="selectBoard" parameterType="java.util.HashMap" resultMap="info">
		<![CDATA[
			select x.info_no, x.info_title, x.info_content, x.info_writer, x.info_enrolldate,
					x.info_loc_l, x.info_loc_m, x.info_loc_s, x.info_count, x.info_point, x.info_notify, x.info_price, x.info_map
			from(
				select rownum as rnum, a.info_no, a.info_title, a.info_content, a.info_writer, a.info_enrolldate,
					a.info_loc_l, a.info_loc_m, a.info_loc_s, a.info_count, a.info_point, a.info_notify, a.info_price, a.info_map
				from(
					select *
					from info_board
					order by ${code} desc
					)a
				where rownum <= #{end})x
			where x.rnum >= #{start}
			
		]]>
	</select>
	
	<select id="detail" parameterType="int" resultType="InfoBoardVO">
		select * from info_board 
		where info_no = #{info_no}
	</select>
	
	<insert id="insertBoard" parameterType="infoBoardVO">
		insert into info_board
		values (info_board_seq.nextval, #{info_title}, #{info_content}, #{info_writer}, sysdate,
				#{info_loc_l}, #{info_loc_m}, #{info_loc_s}, 0, 0, 0, #{info_price}, #{info_map})
	</insert>
	
	<update id="updateBoard" parameterType="infoBoardVO">
		update info_board
		set info_title=#{info_title}, info_content=#{info_content}, info_loc_l=#{info_loc_l}, info_loc_m=#{info_loc_m},
			info_loc_s=#{info_loc_s}, info_price=#{info_price}, info_map=#{info_map}
		where info_no=#{info_no}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from info_board
		where info_no = #{info_no}
	</delete>
	
	<!-- 즐겨찾기 불러오기, 추가, 삭제 구간 -->
	
	<select id="selectBoardReport" parameterType="InfoRptVO" resultType="InfoRptVO">
		select *
		from info_favorite
		where fa_mb_id = #{fa_mb_id}
		and	  fa_bd_no = #{fa_bd_no}
	</select>
	
	<insert id="insertBoardReport" parameterType="InfoRptVO">
		insert into info_favorite
		values(info_favorite_seq.nextval, #{fa_mb_id}, #{fa_bd_no})
	</insert>
	
	<delete id="deleteBoardReport" parameterType="int">
		delete from info_favorite
		where fa_id = #{no}
	</delete>
	
	<!-- 댓글 불러오기, 추가, 삭제 구간 -->
	<select id="selectBoardComment" parameterType="InfoCmtVO" resultType="InfoCmtVO">
		select *
		from info_comment
		where cm_board_no = #{bno}
	</select>
	
	<insert id="insertBoardComment" parameterType="InfoCmtVO">
		insert into info_comment
		values(info_comment_seq.nextval, #{cm_writer}, #{cm_board_no}, #{cm_content}, sysdate)
	</insert>
	
	<delete id="deleteBoardComment" parameterType="int">
		delete from info_comment
		where cm_no = #{cno}
	</delete>
</mapper>
