<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="locationMapper">
	
	<select id="getCountryList" parameterType="Country" resultType="Country">
		SELECT * FROM FINAL.LOCATION_COUNTRY
		WHERE AREA_NO = #{code}
	</select>
	
	<select id="getCityList" parameterType="City" resultType="City">
		SELECT * FROM FINAL.LOCATION_City
		WHERE COUNTRY_NO = #{code}
	</select> 	
	
	<resultMap type="java.util.HashMap" id="locationS">
		<result javaType="java.lang.String" property="sName" column="city" />
		<result javaType="java.lang.String" property="mName" column="country" />
	</resultMap>
	
	<select id="getCity" parameterType="String" resultMap="locationS">
		select s.CITY_NAME city, m.COUNTRY_NAME country
		from location_city s join location_country m
     		 on s.COUNTRY_NO = m.COUNTRY_NO
		where s.CITY_NO = #{code}
	</select>

</mapper>