<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="msgMapper">
	<insert id="insertmsg" parameterType="Message">
		INSERT INTO MESSAGE VALUES(MESSAGE_SEQ.NEXTVAL, #{send_id}, #{recieve_id}, 
									DEFAULT, SYSDATE, NULL, #{mes_content}, 
									DEFAULT, DEFAULT, NULL)
	</insert>
	
	<select id="selectmsgList" parameterType="String" resultType="Message">
		SELECT MSG.RECIEVE_ID, MSG.MES_NO, MSG.MES_CONTENT
		FROM ( SELECT MSG.RECIEVE_ID, MSG.MES_NO, ROW_NUMBER() OVER (PARTITION BY MSG.RECIEVE_ID ORDER BY MSG.MES_NO DESC) NO, MES_CONTENT
       			FROM MESSAGE MSG
      			WHERE MSG.SEND_ID = #{id}) MSG
       WHERE MSG.NO=1
	</select>
	
	<select id="selectMsgDetailList" parameterType="Message" resultType="Message">
		SELECT MES_NO, SEND_ID, RECIEVE_ID, VIEW_YN, SEND_DATE, VIEW_DATE, MES_CONTENT, S_DELYN, R_DELYN, PARENT_MGSNO FROM MESSAGE
		WHERE (RECIEVE_ID IN (#{recieve_id}, #{send_id})) AND (SEND_ID IN (#{send_id}, #{recieve_id}))
		ORDER BY MES_NO DESC
	</select>
</mapper>