<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">
	<select id="selectmyFavorite" parameterType="String" resultType="InfoBoardVO">
		SELECT b.INFO_NO, b.INFO_TITLE, b.INFO_CONTENT, b.INFO_WRITER, b.INFO_IMAGE
		FROM INFO_FAVORITE f, INFO_BOARD b 
		WHERE f.FA_BD_NO = b.INFO_NO 
		AND f.FA_MB_ID = #{mbid} ORDER BY FA_BD_NO DESC	
	</select>
	
	<update id="updateProfile" parameterType="Member">
		UPDATE MEMBER
		SET MB_ORIGINAL_PIC = #{mb_original_pic}, MB_RENAME_PIC = #{mb_rename_pic}
		WHERE MB_ID = #{mb_id}
	</update>
	
	<update id="deleteMyProfile" parameterType="Member">
		UPDATE MEMBER
		SET MB_ORIGINAL_PIC = NULL, MB_RENAME_PIC = NULL
		WHERE MB_ID = #{mb_id}
	</update>

	<select id="selectmyWish" parameterType="String" resultType="gItem">
		SELECT *
		FROM GUIDE_BOARD GB, GUIDE_FAVORITE GF
		WHERE GB.GUI_NO = GF.FA_BD_NO
		AND GF.FA_MB_ID = #{mbid} 
		ORDER BY FA_BD_NO DESC
	</select>
	
	<delete id="deleteMyWish" parameterType="java.util.Map">
		DELETE FROM GUIDE_FAVORITE WHERE FA_MB_ID = #{fa_mb_id} AND FA_BD_NO = #{fa_bd_no} 
	</delete>
	
	<select id="selectmyGuide" parameterType="String" resultType="gItem">
		SELECT *
		FROM GUIDE_BOARD
		WHERE GUI_WRITER = #{gid}
	</select>
	
	<select id="selectmyPay" parameterType="String" resultType="Matching">
		SELECT M.MB_NAME, M.MB_PHONE, P.DEPARTURE_DATE, P.TRAVEL_NUM, P.PRICE, P.PAY_DATE, GB.GUI_TITLE, GB.GUI_NO, P.GUIDE_ID, P.PAY_NO
		FROM PAYMENT P, GUIDE_BOARD GB, MEMBER M
		WHERE P.GUI_NO = GB.GUI_NO
		AND P.GUIDE_ID = M.MB_ID
		AND P.PAY_ID = #{id}
	</select>
	
	<select id="selectmyMatching" parameterType="String" resultType="Matching">
		SELECT M.MB_NAME, M.MB_PHONE, P.DEPARTURE_DATE, P.TRAVEL_NUM, P.PRICE, P.PAY_DATE, GB.GUI_TITLE, GB.GUI_NO, MC.MAT_NO
		FROM PAYMENT P, GUIDE_BOARD GB, MEMBER M, MATCHING MC
		WHERE P.GUI_NO = GB.GUI_NO
		AND P.PAY_ID = M.MB_ID
		AND P.PAY_ID = MC.MAT_MB_ID
		AND P.GUIDE_ID = #{id}
		AND P.PAID = 'Y'
	</select>
	
	<delete id="deletemyPay" parameterType="java.util.Map">
		DELETE FROM PAYMENT
		WHERE PAY_ID = #{id}
		AND PAY_NO = #{payno}
	</delete>
	
	<delete id="deletemyMatching" parameterType="Integer">
		DELETE FROM MATCHING
		WHERE MAT_NO = #{matchingno}
	</delete>
	
	<select id="selectmyInfo" parameterType="String" resultType="InfoBoardVO">
		SELECT *
		FROM INFO_BOARD
		WHERE INFO_WRITER = #{id}
		ORDER BY INFO_NO DESC
	</select>
</mapper>